<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <td>ID</td>
      <th colspan="10"></th>
      <td>Project ID</td>
      <th colspan="10"></th>
      <td>Title</td>
      <th colspan="10"></th>
      <td>Description</td>
      <th colspan="10"></th>
      <td>Requested at</td>
      <th colspan="10"></th>
      <td>Deadline</td>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <th colspan="10"></th>
        <td><%= task.project_id %></td>
        <th colspan="10"></th>
        <td><%= task.title %></td>
        <th colspan="10"></th>
        <td><%= task.description %></td>
        <th colspan="10"></th>
        <td><%= task.created_at.to_date.to_s(:rfc822) %></td>
        <th colspan="10"></th>
        <td><%= task.deadline_at.to_date.to_s(:rfc822) %></td>
        <th colspan="10"></th>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td>
          <%=
            link_to(
              'Destroy', task,
              method: :delete, data: { confirm: 'Are you sure?' }
            )
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Task', new_task_path %>

